# Secrets
.env
key

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# ChromaDB data
data/
chroma_db/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db